{% if block.settings.link != blank %}
  <div {{ block.shopify_attributes }} class=" rich-text__link-wrapper">
    <a
      href="{{ block.settings.link }}"
      class="
        link
        link-with-icon
        rich-text__link
        {{ block.settings.button_color_scheme }}
      "
    >
      <span>{{ block.settings.link_text }}</span>
      {% render 'icon-arrow' %}
    </a>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.rich-text.blocks.link.name",
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.rich-text.blocks.link.settings.link.label",
      "default": "/"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.rich-text.blocks.link.settings.link_text.label",
      "default": "Learn more"
    },
    {
      "type": "select",
      "id": "button_color_scheme",
      "options": [
        {
          "value": "button",
          "label": "t:sections.all.buttons.primary.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.buttons.secondary.label"
        },
        {
          "value": "link link-with-icon",
          "label": "t:sections.all.buttons.text_link.label"
        }
      ],
      "default": "button",
      "label": "t:sections.all.buttons.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.blocks.link.name"
    }
  ]
}
{% endschema %}
